In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/micron_half.csv")

/var/folders/7w/qs77cz_11630n9gydm61vjpc0000gn/T/ipykernel_38750/3250301900.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/micron_half.csv")

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2020 12:28:15 AM,01/01/2020 12:33:03 AM,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,01/01/2020 12:35:39 AM,01/01/2020 12:43:04 AM,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,01/01/2020 12:47:41 AM,01/01/2020 12:53:52 AM,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,01/01/2020 12:55:23 AM,01/01/2020 01:00:14 AM,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,01/01/2020 12:01:58 AM,01/01/2020 12:04:16 AM,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [5]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12324249 entries, 0 to 12324248
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: datetime64[ns](1), float64(13), int64(2), object(2)
memory usage: 1.7+ GB

In [9]:
df.isna().sum()

VendorID                 92360
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          92360
trip_distance                0
RatecodeID               92360
store_and_fwd_flag       92360
PULocationID                 0
DOLocationID                 0
payment_type             92360
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [13]:
df.duplicated().sum()

12949

In [14]:
df = df.drop_duplicates(keep='first')

In [15]:
# Set random seed for reproducibility
np.random.seed(42)

# Sample 1M rows randomly
df_sampled = df.sample(n=1000000, random_state=42)

In [16]:
df_sampled

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2379926,1.0,2020-01-13 13:35:25,01/13/2020 01:54:29 PM,1.0,2.70,1.0,N,142,170,1.0,14.0,2.5,0.5,3.45,0.0,0.3,20.75,2.5
1261478,2.0,2020-01-08 08:00:12,01/08/2020 08:12:32 AM,2.0,1.36,1.0,N,236,238,1.0,9.5,0.0,0.5,2.56,0.0,0.3,15.36,2.5
417258,2.0,2020-01-03 15:25:34,01/03/2020 03:34:16 PM,6.0,1.28,1.0,N,142,100,2.0,7.5,0.0,0.5,0.00,0.0,0.3,10.80,2.5
764028,2.0,2020-01-05 13:49:54,01/05/2020 01:58:08 PM,1.0,0.73,1.0,N,48,230,1.0,6.5,0.0,0.5,1.96,0.0,0.3,11.76,2.5
8296930,2.0,2020-02-09 16:16:04,02/09/2020 04:44:58 PM,1.0,4.67,1.0,N,236,238,1.0,20.0,0.0,0.5,4.66,0.0,0.3,27.96,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367959,2.0,2020-01-17 19:04:40,01/17/2020 07:28:00 PM,1.0,6.82,1.0,N,132,93,2.0,22.0,1.0,0.5,0.00,0.0,0.3,23.80,0.0
11248087,1.0,2020-02-23 17:52:12,02/23/2020 06:01:27 PM,1.0,1.50,1.0,N,48,68,1.0,8.0,2.5,0.5,1.00,0.0,0.3,12.30,2.5
5695364,1.0,2020-01-29 09:48:06,01/29/2020 09:53:51 AM,1.0,1.00,1.0,N,151,166,1.0,6.0,0.0,0.5,1.35,0.0,0.3,8.15,0.0
10334426,1.0,2020-02-19 15:12:21,02/19/2020 03:17:34 PM,1.0,0.60,1.0,N,144,114,1.0,5.0,2.5,0.5,1.65,0.0,0.3,9.95,2.5
3502356,1.0,2020-01-18 13:16:24,01/18/2020 01:22:18 PM,1.0,0.50,1.0,N,236,236,1.0,5.5,2.5,0.5,1.00,0.0,0.3,9.80,2.5

In [17]:
df_sampled.to_csv("sampled_data.csv",index=False)