In [42]:
import pandas as pd
import numpy as np

In [43]:
train=pd.read_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/train_data.csv")
test=pd.read_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/test_data.csv")
val=pd.read_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/val_data.csv")

## Trip distance

In [44]:
train=train[train['trip_distance']>0]
val=val[val['trip_distance']>0]
test=test[test['trip_distance']>0]

In [45]:
train.shape

(866564, 14)

## Rate code id

In [46]:
train=train[train['RatecodeID']!=99]
val=val[val['RatecodeID']!=99]
test=test[test['RatecodeID']!=99]
train.shape

(866547, 14)

In [47]:
train=train[train['RatecodeID']!=6]
val=val[val['RatecodeID']!=6]
test=test[test['RatecodeID']!=6]
train.shape

(866546, 14)

In [48]:
train['RatecodeID'].value_counts()

RatecodeID
1.0    841744
2.0     19995
5.0      2341
3.0      1811
4.0       655
Name: count, dtype: int64

## store and forward flag

In [49]:
train.drop(['store_and_fwd_flag'], axis=1, inplace=True)
val.drop(['store_and_fwd_flag'], axis=1, inplace=True)
test.drop(['store_and_fwd_flag'], axis=1, inplace=True)

In [50]:
train.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,duration,tolls,traffic_indicator,pickup_hour,pickup_day,is_holiday
0,1.0,1.0,1.30,1.0,230,162,1.0,19,False,1,14,3,0
1,2.0,4.0,0.55,1.0,142,239,2.0,2,False,1,16,3,0
2,2.0,1.0,0.46,1.0,90,186,1.0,2,False,1,20,6,0
3,2.0,1.0,0.35,1.0,141,140,1.0,7,False,1,15,2,0
4,2.0,2.0,2.34,1.0,239,236,1.0,16,False,1,9,3,0

## Pick up location and drop location

In [51]:
train['route'] = train['PULocationID'].astype(str) + '_' + train['DOLocationID'].astype(str)
val['route'] = val['PULocationID'].astype(str) + '_' + val['DOLocationID'].astype(str)
test['route'] = test['PULocationID'].astype(str) + '_' + test['DOLocationID'].astype(str)

In [52]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 866546 entries, 0 to 875190
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   VendorID           866546 non-null  float64
 1   passenger_count    866546 non-null  float64
 2   trip_distance      866546 non-null  float64
 3   RatecodeID         866546 non-null  float64
 4   PULocationID       866546 non-null  int64
 5   DOLocationID       866546 non-null  int64
 6   payment_type       866546 non-null  float64
 7   duration           866546 non-null  int64
 8   tolls              866546 non-null  bool
 9   traffic_indicator  866546 non-null  int64
 10  pickup_hour        866546 non-null  int64
 11  pickup_day         866546 non-null  int64
 12  is_holiday         866546 non-null  int64
 13  route              866546 non-null  object
dtypes: bool(1), float64(5), int64(7), object(1)
memory usage: 93.4+ MB

## Tolls

In [ ]:
# change toll from bool to 0 and 1
train['tolls'] = train['tolls'].astype(int)
val['tolls'] = val['tolls'].astype(int)
test['tolls'] = test['tolls'].astype(int)
train

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,duration,tolls,traffic_indicator,pickup_hour,pickup_day,is_holiday,route
0,1.0,1.0,1.30,1.0,230,162,1.0,19,0,1,14,3,0,230_162
1,2.0,4.0,0.55,1.0,142,239,2.0,2,0,1,16,3,0,142_239
2,2.0,1.0,0.46,1.0,90,186,1.0,2,0,1,20,6,0,90_186
3,2.0,1.0,0.35,1.0,141,140,1.0,7,0,1,15,2,0,141_140
4,2.0,2.0,2.34,1.0,239,236,1.0,16,0,1,9,3,0,239_236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875186,2.0,1.0,7.77,1.0,236,87,1.0,24,0,1,9,0,0,236_87
875187,2.0,1.0,4.01,1.0,113,140,1.0,23,0,1,19,2,0,113_140
875188,2.0,1.0,0.82,1.0,161,164,1.0,6,0,1,12,3,0,161_164
875189,2.0,1.0,0.27,2.0,215,262,1.0,0,1,1,21,2,0,215_262
875190,2.0,1.0,17.83,5.0,132,163,1.0,78,0,1,16,4,0,132_163

In [55]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 866546 entries, 0 to 875190
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   VendorID           866546 non-null  float64
 1   passenger_count    866546 non-null  float64
 2   trip_distance      866546 non-null  float64
 3   RatecodeID         866546 non-null  float64
 4   PULocationID       866546 non-null  int64
 5   DOLocationID       866546 non-null  int64
 6   payment_type       866546 non-null  float64
 7   duration           866546 non-null  int64
 8   tolls              866546 non-null  int64
 9   traffic_indicator  866546 non-null  int64
 10  pickup_hour        866546 non-null  int64
 11  pickup_day         866546 non-null  int64
 12  is_holiday         866546 non-null  int64
 13  route              866546 non-null  object
dtypes: float64(5), int64(8), object(1)
memory usage: 99.2+ MB

In [57]:
# change vendor id to 0 and 1 instead of 1 and 2 , make passenger count int,ratecode id also int,payemnt type also int
train['VendorID'] = train['VendorID'].astype(int)
val['VendorID'] = val['VendorID'].astype(int)
test['VendorID'] = test['VendorID'].astype(int)
train['passenger_count'] = train['passenger_count'].astype(int)
val['passenger_count'] = val['passenger_count'].astype(int)
train['RatecodeID'] = train['RatecodeID'].astype(int)
val['RatecodeID'] = val['RatecodeID'].astype(int)
test['RatecodeID'] = test['RatecodeID'].astype(int)
train['payment_type'] = train['payment_type'].astype(int)
val['payment_type'] = val['payment_type'].astype(int)
test['payment_type'] = test['payment_type'].astype(int)

In [59]:
# remove the pulocation and dolocation id
train.drop(['PULocationID'], axis=1, inplace=True)
val.drop(['PULocationID'], axis=1, inplace=True)    
test.drop(['PULocationID'], axis=1, inplace=True)
train.drop(['DOLocationID'], axis=1, inplace=True)
val.drop(['DOLocationID'], axis=1, inplace=True)
test.drop(['DOLocationID'], axis=1, inplace=True)

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 866546 entries, 0 to 875190
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   VendorID           866546 non-null  int64
 1   passenger_count    866546 non-null  int64
 2   trip_distance      866546 non-null  float64
 3   RatecodeID         866546 non-null  int64
 4   payment_type       866546 non-null  int64
 5   duration           866546 non-null  int64
 6   tolls              866546 non-null  int64
 7   traffic_indicator  866546 non-null  int64
 8   pickup_hour        866546 non-null  int64
 9   pickup_day         866546 non-null  int64
 10  is_holiday         866546 non-null  int64
 11  route              866546 non-null  object
dtypes: float64(1), int64(10), object(1)
memory usage: 85.9+ MB

In [61]:
route_frequencies = train['route'].value_counts()
train['route_frequency'] = train['route'].map(route_frequencies)
val['route_frequency'] = val['route'].map(route_frequencies)
test['route_frequency'] = test['route'].map(route_frequencies)

In [65]:
(train['route_frequency']<10).sum()

22513

In [67]:
# let us remove the routes which have less than 10 frequency
train = train[train['route_frequency']>=10]
val = val[val['route_frequency']>=10]
test = test[test['route_frequency']>=10]
print(train.shape)
print(val.shape)
print(test.shape)

(844033, 13)
(46735, 13)
(46804, 13)

## Target encoding of route variable

In [68]:
# Calculate mean duration for each route from training data
route_means = train.groupby('route')['duration'].mean()

# Apply the encoding to train, validation and test sets
train['route_encoded'] = train['route'].map(route_means)
val['route_encoded'] = val['route'].map(route_means)
test['route_encoded'] = test['route'].map(route_means)

# Drop the original route column
train.drop(['route','route_frequency'], axis=1, inplace=True)
val.drop(['route','route_frequency'], axis=1, inplace=True)
test.drop(['route','route_frequency'], axis=1, inplace=True)

In [69]:
train

,VendorID,passenger_count,trip_distance,RatecodeID,payment_type,duration,tolls,traffic_indicator,pickup_hour,pickup_day,is_holiday,route_encoded
0,1,1,1.30,1,1,19,0,1,14,3,0,9.277677
1,2,4,0.55,1,2,2,0,1,16,3,0,5.788175
2,2,1,0.46,1,1,2,0,1,20,6,0,4.985097
3,2,1,0.35,1,1,7,0,1,15,2,0,5.822926
4,2,2,2.34,1,1,16,0,1,9,3,0,9.292025
...,...,...,...,...,...,...,...,...,...,...,...,...
875185,2,1,1.71,1,1,8,0,1,19,4,0,11.398678
875186,2,1,7.77,1,1,24,0,1,9,0,0,23.872727
875187,2,1,4.01,1,1,23,0,1,19,2,0,20.910112
875188,2,1,0.82,1,1,6,0,1,12,3,0,8.685906
875190,2,1,17.83,5,1,78,0,1,16,4,0,47.873418

In [72]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 844033 entries, 0 to 875190
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   VendorID           844033 non-null  int64
 1   passenger_count    844033 non-null  int64
 2   trip_distance      844033 non-null  float64
 3   RatecodeID         844033 non-null  int64
 4   payment_type       844033 non-null  int64
 5   duration           844033 non-null  int64
 6   tolls              844033 non-null  int64
 7   traffic_indicator  844033 non-null  int64
 8   pickup_hour        844033 non-null  int64
 9   pickup_day         844033 non-null  int64
 10  is_holiday         844033 non-null  int64
 11  route_encoded      844033 non-null  float64
dtypes: float64(2), int64(10)
memory usage: 83.7 MB

In [74]:
from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, drop='first')

# Fit and transform train data
cols_to_encode = ['VendorID', 'RatecodeID', 'payment_type']
encoded_train = ohe.fit_transform(train[cols_to_encode])

# Create column names for encoded features - accounting for drop='first'
encoded_feature_names = []
for i, col in enumerate(cols_to_encode):
    # Skip the first category since it's dropped
    unique_vals = ohe.categories_[i][1:]
    encoded_feature_names.extend([f'{col}_{val}' for val in unique_vals])

# Convert encoded arrays to dataframes
encoded_train_df = pd.DataFrame(encoded_train, columns=encoded_feature_names, index=train.index)
encoded_val_df = pd.DataFrame(ohe.transform(val[cols_to_encode]), columns=encoded_feature_names, index=val.index)
encoded_test_df = pd.DataFrame(ohe.transform(test[cols_to_encode]), columns=encoded_feature_names, index=test.index)

# Drop original columns and concatenate encoded columns
train = pd.concat([train.drop(cols_to_encode, axis=1), encoded_train_df], axis=1)
val = pd.concat([val.drop(cols_to_encode, axis=1), encoded_val_df], axis=1)
test = pd.concat([test.drop(cols_to_encode, axis=1), encoded_test_df], axis=1)

In [75]:
train

,passenger_count,trip_distance,duration,tolls,traffic_indicator,pickup_hour,pickup_day,is_holiday,route_encoded,VendorID_2,RatecodeID_2,RatecodeID_3,RatecodeID_4,RatecodeID_5,payment_type_2,payment_type_3,payment_type_4
0,1,1.30,19,0,1,14,3,0,9.277677,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,0.55,2,0,1,16,3,0,5.788175,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,0.46,2,0,1,20,6,0,4.985097,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.35,7,0,1,15,2,0,5.822926,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,2.34,16,0,1,9,3,0,9.292025,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875185,1,1.71,8,0,1,19,4,0,11.398678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
875186,1,7.77,24,0,1,9,0,0,23.872727,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
875187,1,4.01,23,0,1,19,2,0,20.910112,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
875188,1,0.82,6,0,1,12,3,0,8.685906,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
875190,1,17.83,78,0,1,16,4,0,47.873418,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Now we will apply cyclic encoding to the time and normal encoding to the pickup day

In [76]:
from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, drop='first')

# Fit and transform train data
cols_to_encode = ['pickup_day']
encoded_train = ohe.fit_transform(train[cols_to_encode])

# Create column names for encoded features - accounting for drop='first'
encoded_feature_names = []
for i, col in enumerate(cols_to_encode):
    # Skip the first category since it's dropped
    unique_vals = ohe.categories_[i][1:]
    encoded_feature_names.extend([f'{col}_{val}' for val in unique_vals])

# Convert encoded arrays to dataframes
encoded_train_df = pd.DataFrame(encoded_train, columns=encoded_feature_names, index=train.index)
encoded_val_df = pd.DataFrame(ohe.transform(val[cols_to_encode]), columns=encoded_feature_names, index=val.index)
encoded_test_df = pd.DataFrame(ohe.transform(test[cols_to_encode]), columns=encoded_feature_names, index=test.index)

# Drop original columns and concatenate encoded columns
train = pd.concat([train.drop(cols_to_encode, axis=1), encoded_train_df], axis=1)
val = pd.concat([val.drop(cols_to_encode, axis=1), encoded_val_df], axis=1)
test = pd.concat([test.drop(cols_to_encode, axis=1), encoded_test_df], axis=1)

In [77]:
train

,passenger_count,trip_distance,duration,tolls,traffic_indicator,pickup_hour,is_holiday,route_encoded,VendorID_2,RatecodeID_2,...,RatecodeID_5,payment_type_2,payment_type_3,payment_type_4,pickup_day_1,pickup_day_2,pickup_day_3,pickup_day_4,pickup_day_5,pickup_day_6
0,1,1.30,19,0,1,14,0,9.277677,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,4,0.55,2,0,1,16,0,5.788175,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,0.46,2,0,1,20,0,4.985097,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,0.35,7,0,1,15,0,5.822926,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2,2.34,16,0,1,9,0,9.292025,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875185,1,1.71,8,0,1,19,0,11.398678,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875186,1,7.77,24,0,1,9,0,23.872727,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
875187,1,4.01,23,0,1,19,0,20.910112,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
875188,1,0.82,6,0,1,12,0,8.685906,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
875190,1,17.83,78,0,1,16,0,47.873418,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [78]:
# Create cyclic features for pickup_hour
train['pickup_hour_sin'] = np.sin(2 * np.pi * train['pickup_hour']/24)
train['pickup_hour_cos'] = np.cos(2 * np.pi * train['pickup_hour']/24)
val['pickup_hour_sin'] = np.sin(2 * np.pi * val['pickup_hour']/24)
val['pickup_hour_cos'] = np.cos(2 * np.pi * val['pickup_hour']/24)
test['pickup_hour_sin'] = np.sin(2 * np.pi * test['pickup_hour']/24)
test['pickup_hour_cos'] = np.cos(2 * np.pi * test['pickup_hour']/24)

# Drop the original pickup_hour column
train.drop(['pickup_hour'], axis=1, inplace=True)
val.drop(['pickup_hour'], axis=1, inplace=True)
test.drop(['pickup_hour'], axis=1, inplace=True)

In [80]:
# drop the pickup_hour_cosine
train.drop(['pickup_hour_cos'], axis=1, inplace=True)
val.drop(['pickup_hour_cos'], axis=1, inplace=True)
test.drop(['pickup_hour_cos'], axis=1, inplace=True)

In [81]:
train

,passenger_count,trip_distance,duration,tolls,traffic_indicator,is_holiday,route_encoded,VendorID_2,RatecodeID_2,RatecodeID_3,...,payment_type_2,payment_type_3,payment_type_4,pickup_day_1,pickup_day_2,pickup_day_3,pickup_day_4,pickup_day_5,pickup_day_6,pickup_hour_sin
0,1,1.30,19,0,1,0,9.277677,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-5.000000e-01
1,4,0.55,2,0,1,0,5.788175,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-8.660254e-01
2,1,0.46,2,0,1,0,4.985097,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-8.660254e-01
3,1,0.35,7,0,1,0,5.822926,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-7.071068e-01
4,2,2.34,16,0,1,0,9.292025,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.071068e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875185,1,1.71,8,0,1,0,11.398678,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-9.659258e-01
875186,1,7.77,24,0,1,0,23.872727,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.071068e-01
875187,1,4.01,23,0,1,0,20.910112,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-9.659258e-01
875188,1,0.82,6,0,1,0,8.685906,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.224647e-16
875190,1,17.83,78,0,1,0,47.873418,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-8.660254e-01

In [82]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 844033 entries, 0 to 875190
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   passenger_count    844033 non-null  int64
 1   trip_distance      844033 non-null  float64
 2   duration           844033 non-null  int64
 3   tolls              844033 non-null  int64
 4   traffic_indicator  844033 non-null  int64
 5   is_holiday         844033 non-null  int64
 6   route_encoded      844033 non-null  float64
 7   VendorID_2         844033 non-null  float64
 8   RatecodeID_2       844033 non-null  float64
 9   RatecodeID_3       844033 non-null  float64
 10  RatecodeID_4       844033 non-null  float64
 11  RatecodeID_5       844033 non-null  float64
 12  payment_type_2     844033 non-null  float64
 13  payment_type_3     844033 non-null  float64
 14  payment_type_4     844033 non-null  float64
 15  pickup_day_1       844033 non-null  float64
 16  pickup_day_2       844033 non-null  float64
 17  pickup_day_3       844033 non-null  float64
 18  pickup_day_4       844033 non-null  float64
 19  pickup_day_5       844033 non-null  float64
 20  pickup_day_6       844033 non-null  float64
 21  pickup_hour_sin    844033 non-null  float64
dtypes: float64(17), int64(5)
memory usage: 148.1 MB

In [83]:
val.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46735 entries, 0 to 48621
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   passenger_count    46735 non-null  int64
 1   trip_distance      46735 non-null  float64
 2   duration           46735 non-null  int64
 3   tolls              46735 non-null  int64
 4   traffic_indicator  46735 non-null  int64
 5   is_holiday         46735 non-null  int64
 6   route_encoded      46735 non-null  float64
 7   VendorID_2         46735 non-null  float64
 8   RatecodeID_2       46735 non-null  float64
 9   RatecodeID_3       46735 non-null  float64
 10  RatecodeID_4       46735 non-null  float64
 11  RatecodeID_5       46735 non-null  float64
 12  payment_type_2     46735 non-null  float64
 13  payment_type_3     46735 non-null  float64
 14  payment_type_4     46735 non-null  float64
 15  pickup_day_1       46735 non-null  float64
 16  pickup_day_2       46735 non-null  float64
 17  pickup_day_3       46735 non-null  float64
 18  pickup_day_4       46735 non-null  float64
 19  pickup_day_5       46735 non-null  float64
 20  pickup_day_6       46735 non-null  float64
 21  pickup_hour_sin    46735 non-null  float64
dtypes: float64(17), int64(5)
memory usage: 8.2 MB

In [84]:
# save train.,val and test as final_train,final_val and final_test
train.to_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/final_train.csv", index=False)
val.to_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/final_val.csv", index=False)
test.to_csv("/Users/sudhanvasavyasachi/Desktop/Projects/Hackathon micron/Data/final_test.csv", index=False)